USE [master]
GO
/****** Object:  Database [EmpresaDB]    Script Date: 10/27/2025 7:23:05 AM ******/
CREATE DATABASE [EmpresaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmpresaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EmpresaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EmpresaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EmpresaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmpresaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmpresaDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 10/27/2025 7:23:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 10/27/2025 7:23:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nit] [nvarchar](max) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Fecha_Creacion] [datetime2](7) NOT NULL,
	[Fecha_Modificacion] [datetime2](7) NULL,
	[Usuario_Creacion_Id] [int] NULL,
	[Usuario_Modificacion_Id] [int] NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departamentos]    Script Date: 10/27/2025 7:23:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamentos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Presupuesto] [decimal](18, 2) NOT NULL,
	[Estado] [bit] NOT NULL,
	[Fecha_Creacion] [datetime2](7) NOT NULL,
	[Fecha_Modificacion] [datetime2](7) NULL,
	[Usuario_Creacion_Id] [int] NULL,
	[Usuario_Modificacion_Id] [int] NULL,
 CONSTRAINT [PK_Departamentos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleVentas]    Script Date: 10/27/2025 7:23:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleVentas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[Costo] [decimal](10, 2) NOT NULL,
	[Subtotal] [decimal](10, 2) NOT NULL,
	[Venta_Id] [int] NOT NULL,
	[VentaId] [int] NOT NULL,
	[Producto_Id] [int] NOT NULL,
	[ProductoId] [int] NOT NULL,
	[Fecha_Creacion] [datetime2](7) NOT NULL,
	[Fecha_Modificacion] [datetime2](7) NULL,
	[Usuario_Creacion_Id] [int] NULL,
	[Usuario_Modificacion_Id] [int] NULL,
 CONSTRAINT [PK_DetalleVentas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 10/27/2025 7:23:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [nvarchar](max) NOT NULL,
	[Apellidos] [nvarchar](max) NOT NULL,
	[CUI] [nvarchar](13) NOT NULL,
	[Fecha_Ingreso] [datetime2](7) NOT NULL,
	[Salario_Actual] [decimal](10, 2) NOT NULL,
	[Fecha_Ultimo_Aumento] [datetime2](7) NULL,
	[Fecha_baja] [datetime2](7) NULL,
	[Puesto] [nvarchar](max) NOT NULL,
	[Jerarquia] [nvarchar](max) NOT NULL,
	[Estado] [bit] NOT NULL,
	[Departamento_Id] [int] NOT NULL,
	[DepartamentoId] [int] NOT NULL,
	[Fecha_Creacion] [datetime2](7) NOT NULL,
	[Fecha_Modificacion] [datetime2](7) NULL,
	[Usuario_Creacion_Id] [int] NULL,
	[Usuario_Modificacion_Id] [int] NULL,
 CONSTRAINT [PK_Empleados] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistorialSalarials]    Script Date: 10/27/2025 7:23:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialSalarials](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Salario_Anterior] [decimal](10, 2) NOT NULL,
	[Salario_nuevo] [decimal](10, 2) NOT NULL,
	[Fecha_Cambio] [datetime2](7) NOT NULL,
	[Motivo] [nvarchar](200) NOT NULL,
	[Empleado_Id] [int] NOT NULL,
	[EmpleadoId] [int] NOT NULL,
	[Fecha_Creacion] [datetime2](7) NOT NULL,
	[Fecha_Modificacion] [datetime2](7) NULL,
	[Usuario_Creacion_Id] [int] NULL,
	[Usuario_Modificacion_Id] [int] NULL,
 CONSTRAINT [PK_HistorialSalarials] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 10/27/2025 7:23:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](255) NOT NULL,
	[Existencia] [int] NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[Costo] [decimal](10, 2) NOT NULL,
	[Fecha_Creacion] [datetime2](7) NOT NULL,
	[Fecha_Modificacion] [datetime2](7) NULL,
	[Usuario_Creacion_Id] [int] NULL,
	[Usuario_Modificacion_Id] [int] NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK_Productos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rols]    Script Date: 10/27/2025 7:23:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rols](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Rol] [nvarchar](max) NOT NULL,
	[Estado] [bit] NOT NULL,
	[Fecha_Creacion] [datetime2](7) NOT NULL,
	[Fecha_Modificacion] [datetime2](7) NULL,
	[Usuario_Creacion_Id] [int] NULL,
	[Usuario_Modificacion_Id] [int] NULL,
 CONSTRAINT [PK_Rols] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 10/27/2025 7:23:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Usuario] [nvarchar](max) NOT NULL,
	[Contrasena] [nvarchar](max) NOT NULL,
	[Estado] [bit] NOT NULL,
	[Empleado_Id] [int] NOT NULL,
	[EmpleadoId] [int] NOT NULL,
	[Rol_Id] [int] NOT NULL,
	[RolId] [int] NOT NULL,
	[Fecha_Creacion] [datetime2](7) NOT NULL,
	[Fecha_Modificacion] [datetime2](7) NULL,
	[Usuario_Creacion_Id] [int] NULL,
	[Usuario_Modificacion_Id] [int] NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 10/27/2025 7:23:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fecha_Venta] [datetime2](7) NOT NULL,
	[Total] [decimal](10, 2) NOT NULL,
	[Cliente_Id] [int] NOT NULL,
	[ClienteId] [int] NOT NULL,
	[Fecha_Creacion] [datetime2](7) NOT NULL,
	[Fecha_Modificacion] [datetime2](7) NULL,
	[Usuario_Creacion_Id] [int] NULL,
	[Usuario_Modificacion_Id] [int] NULL,
 CONSTRAINT [PK_Ventas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Clientes_Usuario_Creacion_Id]    Script Date: 10/27/2025 7:23:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_Clientes_Usuario_Creacion_Id] ON [dbo].[Clientes]
(
	[Usuario_Creacion_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Clientes_Usuario_Modificacion_Id]    Script Date: 10/27/2025 7:23:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_Clientes_Usuario_Modificacion_Id] ON [dbo].[Clientes]
(
	[Usuario_Modificacion_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Departamentos_Usuario_Creacion_Id]    Script Date: 10/27/2025 7:23:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_Departamentos_Usuario_Creacion_Id] ON [dbo].[Departamentos]
(
	[Usuario_Creacion_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Departamentos_Usuario_Modificacion_Id]    Script Date: 10/27/2025 7:23:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_Departamentos_Usuario_Modificacion_Id] ON [dbo].[Departamentos]
(
	[Usuario_Modificacion_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DetalleVentas_ProductoId]    Script Date: 10/27/2025 7:23:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_DetalleVentas_ProductoId] ON [dbo].[DetalleVentas]
(
	[ProductoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DetalleVentas_Usuario_Creacion_Id]    Script Date: 10/27/2025 7:23:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_DetalleVentas_Usuario_Creacion_Id] ON [dbo].[DetalleVentas]
(
	[Usuario_Creacion_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DetalleVentas_Usuario_Modificacion_Id]    Script Date: 10/27/2025 7:23:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_DetalleVentas_Usuario_Modificacion_Id] ON [dbo].[DetalleVentas]
(
	[Usuario_Modificacion_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DetalleVentas_VentaId]    Script Date: 10/27/2025 7:23:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_DetalleVentas_VentaId] ON [dbo].[DetalleVentas]
(
	[VentaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Empleados_DepartamentoId]    Script Date: 10/27/2025 7:23:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_Empleados_DepartamentoId] ON [dbo].[Empleados]
(
	[DepartamentoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Empleados_Usuario_Creacion_Id]    Script Date: 10/27/2025 7:23:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_Empleados_Usuario_Creacion_Id] ON [dbo].[Empleados]
(
	[Usuario_Creacion_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Empleados_Usuario_Modificacion_Id]    Script Date: 10/27/2025 7:23:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_Empleados_Usuario_Modificacion_Id] ON [dbo].[Empleados]
(
	[Usuario_Modificacion_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HistorialSalarials_EmpleadoId]    Script Date: 10/27/2025 7:23:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_HistorialSalarials_EmpleadoId] ON [dbo].[HistorialSalarials]
(
	[EmpleadoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HistorialSalarials_Usuario_Creacion_Id]    Script Date: 10/27/2025 7:23:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_HistorialSalarials_Usuario_Creacion_Id] ON [dbo].[HistorialSalarials]
(
	[Usuario_Creacion_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HistorialSalarials_Usuario_Modificacion_Id]    Script Date: 10/27/2025 7:23:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_HistorialSalarials_Usuario_Modificacion_Id] ON [dbo].[HistorialSalarials]
(
	[Usuario_Modificacion_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Productos_Usuario_Creacion_Id]    Script Date: 10/27/2025 7:23:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_Productos_Usuario_Creacion_Id] ON [dbo].[Productos]
(
	[Usuario_Creacion_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Productos_Usuario_Modificacion_Id]    Script Date: 10/27/2025 7:23:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_Productos_Usuario_Modificacion_Id] ON [dbo].[Productos]
(
	[Usuario_Modificacion_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Rols_Usuario_Creacion_Id]    Script Date: 10/27/2025 7:23:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_Rols_Usuario_Creacion_Id] ON [dbo].[Rols]
(
	[Usuario_Creacion_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Rols_Usuario_Modificacion_Id]    Script Date: 10/27/2025 7:23:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_Rols_Usuario_Modificacion_Id] ON [dbo].[Rols]
(
	[Usuario_Modificacion_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Usuarios_EmpleadoId]    Script Date: 10/27/2025 7:23:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_Usuarios_EmpleadoId] ON [dbo].[Usuarios]
(
	[EmpleadoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Usuarios_RolId]    Script Date: 10/27/2025 7:23:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_Usuarios_RolId] ON [dbo].[Usuarios]
(
	[RolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Usuarios_Usuario_Creacion_Id]    Script Date: 10/27/2025 7:23:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_Usuarios_Usuario_Creacion_Id] ON [dbo].[Usuarios]
(
	[Usuario_Creacion_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Usuarios_Usuario_Modificacion_Id]    Script Date: 10/27/2025 7:23:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_Usuarios_Usuario_Modificacion_Id] ON [dbo].[Usuarios]
(
	[Usuario_Modificacion_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Ventas_ClienteId]    Script Date: 10/27/2025 7:23:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_Ventas_ClienteId] ON [dbo].[Ventas]
(
	[ClienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Ventas_Usuario_Creacion_Id]    Script Date: 10/27/2025 7:23:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_Ventas_Usuario_Creacion_Id] ON [dbo].[Ventas]
(
	[Usuario_Creacion_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Ventas_Usuario_Modificacion_Id]    Script Date: 10/27/2025 7:23:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_Ventas_Usuario_Modificacion_Id] ON [dbo].[Ventas]
(
	[Usuario_Modificacion_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT (CONVERT([bit],(0))) FOR [Estado]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT (CONVERT([bit],(0))) FOR [Estado]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [FK_Clientes_Usuarios_Usuario_Creacion_Id] FOREIGN KEY([Usuario_Creacion_Id])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [FK_Clientes_Usuarios_Usuario_Creacion_Id]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [FK_Clientes_Usuarios_Usuario_Modificacion_Id] FOREIGN KEY([Usuario_Modificacion_Id])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [FK_Clientes_Usuarios_Usuario_Modificacion_Id]
GO
ALTER TABLE [dbo].[Departamentos]  WITH CHECK ADD  CONSTRAINT [FK_Departamentos_Usuarios_Usuario_Creacion_Id] FOREIGN KEY([Usuario_Creacion_Id])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Departamentos] CHECK CONSTRAINT [FK_Departamentos_Usuarios_Usuario_Creacion_Id]
GO
ALTER TABLE [dbo].[Departamentos]  WITH CHECK ADD  CONSTRAINT [FK_Departamentos_Usuarios_Usuario_Modificacion_Id] FOREIGN KEY([Usuario_Modificacion_Id])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Departamentos] CHECK CONSTRAINT [FK_Departamentos_Usuarios_Usuario_Modificacion_Id]
GO
ALTER TABLE [dbo].[DetalleVentas]  WITH CHECK ADD  CONSTRAINT [FK_DetalleVentas_Productos_ProductoId] FOREIGN KEY([ProductoId])
REFERENCES [dbo].[Productos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DetalleVentas] CHECK CONSTRAINT [FK_DetalleVentas_Productos_ProductoId]
GO
ALTER TABLE [dbo].[DetalleVentas]  WITH CHECK ADD  CONSTRAINT [FK_DetalleVentas_Usuarios_Usuario_Creacion_Id] FOREIGN KEY([Usuario_Creacion_Id])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[DetalleVentas] CHECK CONSTRAINT [FK_DetalleVentas_Usuarios_Usuario_Creacion_Id]
GO
ALTER TABLE [dbo].[DetalleVentas]  WITH CHECK ADD  CONSTRAINT [FK_DetalleVentas_Usuarios_Usuario_Modificacion_Id] FOREIGN KEY([Usuario_Modificacion_Id])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[DetalleVentas] CHECK CONSTRAINT [FK_DetalleVentas_Usuarios_Usuario_Modificacion_Id]
GO
ALTER TABLE [dbo].[DetalleVentas]  WITH CHECK ADD  CONSTRAINT [FK_DetalleVentas_Ventas_VentaId] FOREIGN KEY([VentaId])
REFERENCES [dbo].[Ventas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DetalleVentas] CHECK CONSTRAINT [FK_DetalleVentas_Ventas_VentaId]
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD  CONSTRAINT [FK_Empleados_Departamentos_DepartamentoId] FOREIGN KEY([DepartamentoId])
REFERENCES [dbo].[Departamentos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Empleados] CHECK CONSTRAINT [FK_Empleados_Departamentos_DepartamentoId]
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD  CONSTRAINT [FK_Empleados_Usuarios_Usuario_Creacion_Id] FOREIGN KEY([Usuario_Creacion_Id])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Empleados] CHECK CONSTRAINT [FK_Empleados_Usuarios_Usuario_Creacion_Id]
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD  CONSTRAINT [FK_Empleados_Usuarios_Usuario_Modificacion_Id] FOREIGN KEY([Usuario_Modificacion_Id])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Empleados] CHECK CONSTRAINT [FK_Empleados_Usuarios_Usuario_Modificacion_Id]
GO
ALTER TABLE [dbo].[HistorialSalarials]  WITH CHECK ADD  CONSTRAINT [FK_HistorialSalarials_Empleados_EmpleadoId] FOREIGN KEY([EmpleadoId])
REFERENCES [dbo].[Empleados] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HistorialSalarials] CHECK CONSTRAINT [FK_HistorialSalarials_Empleados_EmpleadoId]
GO
ALTER TABLE [dbo].[HistorialSalarials]  WITH CHECK ADD  CONSTRAINT [FK_HistorialSalarials_Usuarios_Usuario_Creacion_Id] FOREIGN KEY([Usuario_Creacion_Id])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[HistorialSalarials] CHECK CONSTRAINT [FK_HistorialSalarials_Usuarios_Usuario_Creacion_Id]
GO
ALTER TABLE [dbo].[HistorialSalarials]  WITH CHECK ADD  CONSTRAINT [FK_HistorialSalarials_Usuarios_Usuario_Modificacion_Id] FOREIGN KEY([Usuario_Modificacion_Id])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[HistorialSalarials] CHECK CONSTRAINT [FK_HistorialSalarials_Usuarios_Usuario_Modificacion_Id]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Usuarios_Usuario_Creacion_Id] FOREIGN KEY([Usuario_Creacion_Id])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Usuarios_Usuario_Creacion_Id]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Usuarios_Usuario_Modificacion_Id] FOREIGN KEY([Usuario_Modificacion_Id])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Usuarios_Usuario_Modificacion_Id]
GO
ALTER TABLE [dbo].[Rols]  WITH CHECK ADD  CONSTRAINT [FK_Rols_Usuarios_Usuario_Creacion_Id] FOREIGN KEY([Usuario_Creacion_Id])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Rols] CHECK CONSTRAINT [FK_Rols_Usuarios_Usuario_Creacion_Id]
GO
ALTER TABLE [dbo].[Rols]  WITH CHECK ADD  CONSTRAINT [FK_Rols_Usuarios_Usuario_Modificacion_Id] FOREIGN KEY([Usuario_Modificacion_Id])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Rols] CHECK CONSTRAINT [FK_Rols_Usuarios_Usuario_Modificacion_Id]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Empleados_EmpleadoId] FOREIGN KEY([EmpleadoId])
REFERENCES [dbo].[Empleados] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Empleados_EmpleadoId]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Rols_RolId] FOREIGN KEY([RolId])
REFERENCES [dbo].[Rols] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Rols_RolId]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Usuarios_Usuario_Creacion_Id] FOREIGN KEY([Usuario_Creacion_Id])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Usuarios_Usuario_Creacion_Id]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Usuarios_Usuario_Modificacion_Id] FOREIGN KEY([Usuario_Modificacion_Id])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Usuarios_Usuario_Modificacion_Id]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Clientes_ClienteId] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Clientes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_Clientes_ClienteId]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Usuarios_Usuario_Creacion_Id] FOREIGN KEY([Usuario_Creacion_Id])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_Usuarios_Usuario_Creacion_Id]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Usuarios_Usuario_Modificacion_Id] FOREIGN KEY([Usuario_Modificacion_Id])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_Usuarios_Usuario_Modificacion_Id]
GO
USE [master]
GO
